* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
  border-radius: 4px;
}

textarea,
input {
  font-family: 'Roboto Condensed', sans-serif;
}