.iconButton {
  background-color: #FFFFFF;
  border: 1px solid #D1D5DB;
  height: 34px;
  width: 34px;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #8d8d8d;
  }
}